In [18]:
import pandas as pd
reviews=pd.read_csv("./data/ramen-ratings.csv")


reviews['Stars'] = pd.to_numeric(reviews['Stars'], errors='coerce') #convert the Stars column into number variable

reviews.groupby('Country').Stars.min() # Group the data by the Country and did and operation to the data related to each country by getting the minimun star each country got
reviews.groupby(['Country','Brand'])["Stars"].agg([min,max,len])

reviews.sort_values(by='Stars',ascending=False)

C:\Users\yehia\AppData\Local\Temp\ipykernel_24948\3012363495.py:8: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  reviews.groupby(['Country','Brand'])["Stars"].agg([min,max,len])
C:\Users\yehia\AppData\Local\Temp\ipykernel_24948\3012363495.py:8: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  reviews.groupby(['Country','Brand'])["Stars"].agg([min,max,len])

,Review #,Brand,Variety,Style,Country,Stars,Top Ten
2552,28,Nissin,Chikin Ramen,Pack,Japan,5.0,NaN
30,2550,Samyang Foods,Paegaejang Ramen,Pack,South Korea,5.0,NaN
10,2570,Tao Kae Noi,Creamy tom Yum Kung Flavour,Pack,Thailand,5.0,NaN
11,2569,Yamachan,Yokohama Tonkotsu Shoyu,Pack,USA,5.0,NaN
28,2552,MyKuali,Penang White Curry Rice Vermicelli Soup,Bowl,Malaysia,5.0,NaN
...,...,...,...,...,...,...,...
53,2527,Uni-President,Mushroom Flavor,Pack,Vietnam,0.0,NaN
477,2103,Roland,Ramen Japanese Style Quick-Cooking Alimentary ...,Pack,USA,0.0,NaN
32,2548,Ottogi,Plain Instant Noodle No Soup Included,Pack,South Korea,NaN,NaN
122,2458,Samyang Foods,Sari Ramen,Pack,South Korea,NaN,NaN
993,1587,Mi E-Zee,Plain Noodles,Pack,Malaysia,NaN,NaN